<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Love</title>
</head>

<body>
    <div id="app">
        <input type="radio" id="animal" value="animal" v-model="LoveType">
        <label for="animal">Animal</label>
        <br>
        <input type="radio" id="flower" value="flower" v-model="LoveType">
        <label for="flower">Flower</label>
        <br>

        <template v-if="isLoveTypeAnimal">
            <input type="checkbox" id="dog" value="dog" v-model="Lovelist">
            <label for="dog">Dog</label>
            <input type="checkbox" id="cat" value="cat" v-model="Lovelist">
            <label for="cat">Cat</label>
            <input type="checkbox" id="fish" value="fish" v-model="Lovelist">
            <label for="fish">Fish</label></template>

        <template v-else-if="isLoveTypeflower">
            <input type="checkbox" id="rose" value="rose" v-model="Lovelist">
            <label for="rose">Rose</label>
            <input type="checkbox" id="lotus" value="lotus" v-model="Lovelist">
            <label for="lotus">Lotus</label>
            <input type="checkbox" id="mali" value="mali" v-model="Lovelist">
            <label for="mali">Mali</label></template>

        <template v-else>
            <div>
                Please select one!!!
            </div>
        </template>
        <br>
        <span>LoveType: {{LoveType}}</span>
        <br>
        <span>Lovelist: <span v-if="Lovelist.length==0">Notthing</span></span>
        <ul>
            <li v-for="love in Lovelist">
                {{love}}
            </li>
        </ul>
        <br>
        <span>Lovelist Length: {{getLovelistLength}}</span>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                LoveType: '',
                Lovelist: [],
            },
            computed: {
                getLovelistLength: function () {
                    return this.Lovelist.length;
                },
                isLoveTypeAnimal: function () {
                    return this.LoveType == 'animal';
                },
                isLoveTypeflower: function () {
                    return this.LoveType == 'flower';
                }
            },
            watch: {
                LoveType: function (newValue, oldValue) {
                    // clear List
                    this.Lovelist = [];
                }
            }
        });
    </script>
</body>

</html>